.menu-sidebar {

    .ant-menu-item {
        &.ant-menu-item-selected {
            background-color: rgb(78, 65, 174);

            span:hover {
                color: white;
            }

            :hover {
                color: white;
            }

        }
    }
}

.demo-logo-vertical {
    text-align: center;
    margin: 24px;

    h2 {
        color: #ccc;

        &:hover {
            cursor: pointer;
        }
    }


}

.ant-layout-content {
    .admin-content {
        height: 100%;
        padding: 12px;

    }
}