.ant-modal {
    &.modal-add {
        width: 750px !important;

        .ant-modal-content {
            width: 800px;

            .ant-modal-body {


                .ant-form {
                    margin: 24px 0 12px 0;

                    max-width: 800px !important;

                    .ant-form-item {

                        &.btn-create {
                            margin-top: 36px;

                            .ant-row {
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;

                                .ant-form-item-control-input-content {
                                    display: flex;
                                    justify-content: flex-end;

                                    button.btn-create {
                                        width: 65px;
                                        margin-left: 15px;
                                        background-color: #001529;

                                        &:hover {
                                            background-color: #ccc;
                                            transition: all 0.6s ease;
                                            color: #001529;
                                            border-color: #ccc;

                                            span {
                                                &:hover {
                                                    color: #001529;
                                                }

                                            }
                                        }
                                    }
                                }

                            }

                        }
                    }
                }
            }

        }
    }
}